streamlit
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
python-dotenv
arize-phoenix
arize-phoenix-evals
openai
pysqlite3-binary
wikipedia  # used indirectly via WikipediaLoader
sentence-transformers  # HuggingFace model
chromadb
